<!DOCTYPE html>
<html>
  <head>
    <title>Week3CodeReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/navbar'%>
  <body>

    <h6><%= link_to "Cart | Total items: ", cart_path %> <span id="cart-number"><%= cart_qty %> </span></h6>

    <div class="container">
      <div class="flash">
        <%= render 'layouts/flash'%>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
